<div class="p-1 bg-gray-800 text-white">
  <div>
    <button class="bg-gray-500 hover:bg-gray-600 px-2 py-1 rounded" routerLink="../">Back</button>
  </div>
  <div *ngIf="(personDetails$ | async) as person; else loading" class="m-1">
    <div *ngIf="person.photo_id">
      <img src="http://localhost:8002/{{person.photo_id}}" class="w-32 h-32 rounded-full object-cover">
    </div>
    <div class="text-2xl font-semibold">
      {{ person.firstname }} {{ person.lastname }}
    </div>
    <div class="text-xs">
      DOB: {{ person.date_of_birth }} | (Age: {{ person.age }})
    </div>
    <div>
      Address: {{ person.address }}
    </div>
  </div>
  <div class="flex flex-col bg-white text-black">
    <hr>
    <p class="my-2 mx-1 text-2xl">Modify Person:</p>
    <input placeholder="First Name" class="p-2 border rounded m-1" [formControl]="firstName">
    <input placeholder="Last Name" class="p-2 border rounded m-1" [formControl]="lastname">
    <textarea placeholder="Address" class="p-2 border rounded m-1" [formControl]="address"></textarea>
    <input placeholder="Date of Birth" type="date" class="p-2 border rounded m-1" [formControl]="dateOfBirth">
    <button class="m-1 p-2 bg-green-600 hover:bg-green-700 rounded text-white" (click)="savePerson()">Modify</button>
  </div>
  <div>
    <hr>
    <label>Add Photo:</label>
    <input class="m-1" type="file" (change)="uploadPhoto($event)">
  </div>
  <ng-template #loading class="m-1">Loading...</ng-template>
</div>
